h1{ 

color:blue; 

text-decoration:underline;}

/* 
p{ 

color:black; 

font-size:12px; 

text-align:center; 

text-transform:uppercase; 

word-spacing:20px;} 
*/

ul{ 

text-align:left; 

text-indent:20px; 

font-weight:bold; 

font-style:italic; 

font-size:20px; 

color:red;} 
